/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
**/

.bokez-share{
	padding: 1em 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;

	a{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex: 0 0 48px;
		width: 48px;
		height: 48px;
		border-radius: 48px;
		border: 0;
		position: relative !important;
		outline: 0 !important;
		text-decoration: none !important;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		background-color: #E8E8E8;
		color: #777;
		fill: #777;
		margin: 0 4px 8px;
		padding: 0 !important;
		transition: all 0.3s;

		&:hover{
			opacity: 0.8;

			span{
				opacity: 1;
				visibility: visible;
				transform: translate( -50%, -32px );
			}
		}

		span{
			line-height: 1;
			font-size: 14px;
			padding: 0.5em 0.7em;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate( -50%, -20px );
			transition: all 0.35s;
			display: inline-block;
			background: #010101;
			color: #ddd;
			border-radius: 2px;
			white-space: nowrap;

			&:after{
				content: '';
				position: absolute;
				left: 50%;
				top: 100%;
				transform: translate( -50%, 0 );
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 6px solid #010101;
				clear: both;
			}	
		}
	}

}